{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
    integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
    integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

  <link rel="icon" type="image/x-icon" href="{% static 'assets/image/logo.png'%}" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
    rel="stylesheet" type="text/css" />
  <!-- Third party plugin CSS-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="{% static 'users/css/styles.css'%}" rel="stylesheet" />
  <link href="{% static 'posts/css/styles.css'%}" rel="stylesheet" />
  <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
  <script src="{% static 'posts/js/main.js' %}"></script>
</head>

<body>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '258642982408211',
        cookie: true,
        xfbml: true,
        version: 'v10.0'
      });

      FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) { return; }
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="base-container">
    <div class="sub_container">
      <nav aria-label="mainmenu" class="main-navigation">
        <div class="nav-brand">
          <div class="nav-brand-logo">
            <img src="{% static 'assets/image/logo.png'%}" width="20" height="20" alt="">
            SocialMediaComposer
          </div>
          <nav class="sub-nav-menu">
            <a href="#" id="publish" class="publish-menu">

            </a>
            <a href="#" id="history" class="history-menu">

            </a>
          </nav>

        </div>
        <nav class="nav-user">
          <ul class="help-menu-ul">
            <li class="help-menu-li">
              <a class="help-menu-a">
                <svg viewBox="0 0 16 16" class="help-menu-svg">
                  <g>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm-.896 8.42c-.154.378-.232.886-.232 1.524h1.75l.027-.417c.05-.446.249-.836.595-1.169l.554-.526c.433-.42.736-.8.909-1.142.173-.346.26-.713.26-1.1 0-.852-.267-1.51-.8-1.976-.533-.47-1.283-.704-2.249-.704-.957 0-1.714.246-2.27.738-.551.493-.831 1.174-.84 2.044H6.79c.01-.364.114-.649.314-.854.206-.21.477-.315.814-.315.71 0 1.066.386 1.066 1.156 0 .255-.068.499-.205.731-.136.228-.412.527-.827.896-.41.364-.693.736-.848 1.114zm-.123 2.871a.995.995 0 0 0-.307.752c0 .3.1.55.3.745.206.196.475.294.807.294.333 0 .6-.098.8-.294a.986.986 0 0 0 .308-.745.984.984 0 0 0-.315-.752c-.205-.2-.47-.3-.793-.3-.323 0-.59.1-.8.3z">
                    </path>
                  </g>
                </svg>
                <span class="help-menu-span">Help</span>
              </a>
            </li>
          </ul>
          <div class="help-menu-separator"></div>
          <ul role="menubar" aria-label="Account Menu" class="menu-user">
            <li role="none" class="li-menu-user">
              <a href="{% url 'profile' %}" role="menuitem" tabindex="0" aria-haspopup="true" aria-expanded="false"
                class="link-menu-user">
                <div class="info-user">
                  <div class="username">{{ user.first_name }} {{ user.last_name }}</div>
                </div>
                <div class="user-picture">
                  <img class="rounded-circle nav-account-img" src="{{ user.image.url }}">
                </div>
              </a>
              <div class="dropdown">
                <bouton class="btn btn-light dropdown-toggle login_logout_menu" type="button" data-toggle="dropdown"
                  data-bcup-haslogintext="no" aria-expanded="false"></bouton>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'profile' %}"><span class="fa fa-life-ring"></span>Profile</a>
                  <a class="dropdown-item" href="{% url 'logout' %}"><span class="fa fa-wrench"></span>Se
                    déconnecter</a>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </nav>
      <div class="base-row">
        <div class="sub-row">
          <div class="sub-sub-row">
            <div class="side-bar-wrapper">
              <div class="side-bar-wrapper-profile-bar">
                <div class="side-bar-wrapper-profile-bar-style">
                  <div class="side-bar-wrapper-profile-bar-style-social-account">
                    <div class="side-bar-wrapper-profile-bar-style-social-account-button">
                      {% if social_account %}
                      {% for x in social_account%}
                      <a href="#" class="connect-to-instagram">
                        <img border="0" alt="W3Schools" src="{% static 'assets/image/logo-instagram.png'%}" width="35"
                          height="35">
                        <span style="margin-left:8px" ;>
                          <span
                            style="font-family: Roboto , sans-serif; font-size: 0.75rem; font-weight: 700; color: rgb(89,98,106)">
                            Connect to Instagram
                          </span>
                        </span>
                      </a>
                      {% if x.provider == 'linkedin_oauth2' %}
                      <div aria-dropeffect="move" draggable="true" tabindex="0" style="outline:none;">
                        <div class="connected-to-linkedin">
                          <li class="item-linkedin-li">
                            <div class="item-linkedin-primary">
                              <div class="item-linkedin-secondary">
                                <a href="{% url 'all_posts_queue_linkedin' %}">
                                  <img border="0" alt="W3Schools" src="{{ user.image.url }}" width="35" height="35"
                                    class="profile-picture">
                                  <div class="item-linkedin-tertiary">
                                    <svg color="white" viewBox="0 0 16 16" class="item-linkedin-svg">
                                      <g>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M12.93 12.93h-2.075V9.68c0-.774-.015-1.77-1.08-1.77-1.08 0-1.246.843-1.246 1.715v3.305H6.454V6.249h1.992v.912h.028c.277-.525.954-1.079 1.965-1.079 2.102 0 2.49 1.384 2.49 3.183v3.665zM4.114 5.335a1.204 1.204 0 1 1 0-2.408 1.204 1.204 0 0 1 0 2.408zM3.076 12.93h2.076V6.249H3.076v6.68zM13.964 1H2.034C1.463 1 1 1.452 1 2.01v11.98c0 .557.463 1.01 1.033 1.01h11.93c.572 0 1.037-.453 1.037-1.01V2.01C15 1.451 14.535 1 13.964 1z">
                                        </path>
                                      </g>
                                    </svg>
                                  </div>
                              </div>
                              <div class="item-linkedin-username">
                                <span
                                  style="font-family: Roboto , sans-serif; font-size: 0.75rem; font-weight: 700; color: rgb(89,98,106)">
                                  {{ user.first_name }} {{ user.last_name }}
                                </span></a>
                              </div>
                            </div>
                          </li>
                        </div>
                      </div>
                      {% else %}
                      <a href="{% provider_login_url 'linkedin_oauth2' %}" class="connect-to-linkedin">
                        <img border="0" alt="W3Schools" src="{% static 'assets/image/logo-linkedin.png'%}" width="35"
                          height="35">
                        <span style="margin-left:8px" ;>
                          <span
                            style="font-family: Roboto , sans-serif; font-size: 0.75rem; font-weight: 700; color: rgb(89,98,106)">
                            Connect to Linkedin
                          </span>
                        </span>
                      </a>
                      {% endif %}
                      {% if x.provider == 'facebook' %}
                      <div aria-dropeffect="move" draggable="true" tabindex="0" style="outline:none;">
                        <div class="connected-to-linkedin">
                          <li class="item-linkedin-li">
                            <div class="item-linkedin-primary">
                              <div class="item-linkedin-secondary">
                                <a href="{% url 'all_posts_queue_facebook' %}">
                                  <img border="0" alt="W3Schools" src="{{ user.image.url }}" width="35" height="35"
                                    class="profile-picture">
                                  <div class="item-linkedin-tertiary">
                                    <svg color="white" viewBox="0 0 16 16" class="item-linkedin-svg">
                                      <g>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M16 8.049C16 3.604 12.418 0 8 0S0 3.604 0 8.049C0 12.066 2.925 15.396 6.75 16v-5.624H4.719V8.049H6.75V6.276c0-2.018 1.194-3.132 3.022-3.132.875 0 1.79.157 1.79.157v1.981h-1.008c-.994 0-1.304.62-1.304 1.257v1.51h2.219l-.355 2.327H9.25V16c3.825-.604 6.75-3.934 6.75-7.951z">
                                        </path>
                                      </g>
                                    </svg>
                                  </div>
                              </div>
                              <div class="item-linkedin-username">
                                <span
                                  style="font-family: Roboto , sans-serif; font-size: 0.75rem; font-weight: 700; color: rgb(89,98,106)">
                                  {{ user.first_name }} {{ user.last_name }}
                                </span></a>
                              </div>
                            </div>
                          </li>
                        </div>
                      </div>
                      {% else %}
                      <a href="{% provider_login_url 'facebook' process='connect' method='oauth2' next='/post/add_post/' %}"
                        class=" connect-to-facebook">
                        <img border="0" alt="W3Schools" src="{% static 'assets/image/logo-facebook.png'%}" width="29"
                          height="35">
                        <span style="margin-left:8px" ;>
                          <span
                            style="font-family: Roboto , sans-serif; font-size: 0.75rem; font-weight: 700; color: rgb(89,98,106)">
                            Connect to facebook
                          </span>
                        </span>
                      </a>
                      {% endif %}
                      <a href="{% provider_login_url 'twitter' %}" class="connect-to-twitter">
                        <img border="0" alt="W3Schools" src="{% static 'assets/image/twitter-log.png'%}" width="35"
                          height="35">
                        <span style="margin-left:8px" ;>
                          <span
                            style="font-family: Roboto , sans-serif; font-size: 0.75rem; font-weight: 700; color: rgb(89,98,106)">
                            Connect to twitter
                          </span>
                        </span>
                      </a>
                      {% endfor %}
                      {% else %}
                      <a href="{% provider_login_url 'instagram' %}" class="connect-to-instagram">
                        <img border="0" alt="W3Schools" src="{% static 'assets/image/logo-instagram.png'%}" width="35"
                          height="35">
                        <span style="margin-left:8px" ;>
                          <span
                            style="font-family: Roboto , sans-serif; font-size: 0.75rem; font-weight: 700; color: rgb(89,98,106)">
                            Connect to Instagram
                          </span>
                        </span>
                      </a>
                      <a href="{% provider_login_url 'linkedin_oauth2' %}" class="connect-to-linkedin">
                        <img border="0" alt="W3Schools" src="{% static 'assets/image/logo-Linkedin.png'%}" width="35"
                          height="35">
                        <span style="margin-left:8px" ;>
                          <span
                            style="font-family: Roboto , sans-serif; font-size: 0.75rem; font-weight: 700; color: rgb(89,98,106)">
                            Connect to Linkedin
                          </span>
                        </span>
                      </a>
                      <a href="{% provider_login_url 'facebook' process='connect' method='oauth2' next='/post/add_post/' %}"
                        class="connect-to-linkedin">
                        <img border="0" alt="W3Schools" src="{% static 'assets/image/logo-facebook.png'%}" width="29"
                          height="35">
                        <span style="margin-left:8px" ;>
                          <span
                            style="font-family: Roboto , sans-serif; font-size: 0.75rem; font-weight: 700; color: rgb(89,98,106)">
                            Connect to facebook
                          </span>
                        </span>
                      </a>
                      <a href="{% provider_login_url 'twitter' %}" class="connect-to-twitter">
                        <img border="0" alt="W3Schools" src="{% static 'assets/image/twitter-log.png'%}" width="35"
                          height="35">
                        <span style="margin-left:8px" ;>
                          <span
                            style="font-family: Roboto , sans-serif; font-size: 0.75rem; font-weight: 700; color: rgb(89,98,106)">
                            Connect to twitter
                          </span>
                        </span>
                      </a>
                      {% endif %}
                      <div class="bottom-style-social-media">
                        <div class="bottom-style-social-media-divider">
                          <hr
                            style="border:none; height: 0.063rem; background:rgb(230, 235, 239); width:100%; box-sizing:border-box; margin-top:1rem; margin-bottom:0.5rem;">
                        </div>
                        <div class="bottom-style-social-media-secondary">
                          <div class="bottom-style-social-media-secondary-boutton">
                            <button aria-haspopup="false" type="button" class="tutu" data-bcup-haslogintext="no">
                              <div class="tututut">
                                <a href="{% url 'manage_my_channels' %}" class="queue">Manage Channel</a>
                              </div>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="side-bar-wrapper-content-page">
                <nav aria-disabled="false" class="content-page-nav-bar">
                  <ul class="nav-bar-ul">
                    <li class="nav-bar-item1">
                      <a href="{% url 'add_post' %}">Post</a>
                    </li>
                    <li class="nav-bar-item2">
                      <a href="{% url 'all_posts_queue' %}" class="queue">Queue</a>
                    </li>
                    <li class="nav-bar-item3">
                      <a href="{% url 'all_posts_send' %}" class="queue">History</a>
                    </li>
                  </ul>
                </nav>
                {% block content %}

                {% endblock content %}
              </div>
              <!-- Optional JavaScript; choose one of the two! -->

              <!-- Option 1: Bootstrap Bundle with Popper -->
              <!-- Bootstrap core JS-->
              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
              <!-- Third party plugin JS-->
              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
              <script
                src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

              <!-- Option 2: Separate Popper and Bootstrap JS -->
              <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>

</html>
