{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container-fluide main_content">
  <div class="row justify-content-center wall_register">
    <div class="d-flex justify-content-center form">
      <form class="form-signin" method="POST">
        <img class="mb-4" src="{% static 'assets/image/logo.png'%}" alt width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Forgotten your password? <br>Enter your email address below,<br> and
          we’ll
          email
          instructions for setting a new one.</h1>
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col username">
            {{ form.email|as_crispy_field }}
          </div>
        </div>
        <div class="form-group signIn">
          <button class="btn btn-outline-info" type="submit">Send</button>
        </div>
      </form>
    </div>
  </div>
  {% endblock content %}
